
{% set active = "User" %}

{% block content %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/course/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/list.css" rel="stylesheet">
    <script src="/course/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="/course/lib/popper/popper.min.js"></script>
    <script src="/course/lib/bootstrap/js/bootstrap.min.js"></script>

</head>

</script>
    <section class="jumbotron">
      <div class="text-left">
              <h1 class="jumbotron-heading">My list</h1>
              <p class="lead text-muted">View your list and plan ahead!</p>
      </div>
    <table class ="table">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Remove</th>
              </tr>
            </thead>
            {% for i in range(0,len) %}
            <tr>
              <th scope="row">
                <img class = "img" src="data:;base64,{{ images[i] }}" />
            </th>
            <td>
              {{products[i][0]}}
            </td>
            <td>
              {{products[i][1]}}$
            </td>
            <td>
              {{products[i][3]}}
            </td>
            <td>
              <form method="POST" action="/list">
              <button class="button" name = "product_id" value="{{products[i][4]}}">Remove</button>
              </form>
            </td>
            </tr>
            {% endfor %}
            </table>



       {% if message != None%}
           {{ message }}
       {% endif %}

       {% if total !=0 %}
       <h3 class="jumbotron-heading">Total: {{total}}$</h3>
        {% endif %}
      </section>

{% endblock %}
