body {font-family: "Lato", sans-serif;
background-image: url('/course/img/background1.jpg');
background-repeat: no-repeat;
background-size: cover; }

.white-box {
  background-color: white;
  height: 500px;
  width: 700px;
  border: 3px solid black;
  padding:2px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  margin: 0 auto;
  border-radius: 25px;
  margin-top: 50px;
}
