{% extends 'base.html' %}
{% set active = "User" %}

{% block title %}
User
{% endblock %}

{% block content %}

<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <link href="/css/user.css" rel="stylesheet">
 
</head>
  <body>

  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'products')" id="defaultOpen">Products</button>
    <button class="tablinks" onclick="openTab(event, 'mylist')">My List</button>
    <button class="tablinks" onclick="openTab(event, 'addtrip')">Shopping Trip</button>
    <button class="tablinks" onclick="openTab(event, 'analyze')">Analyze</button>
  </div>

  <div id="products" class="tabcontent">

    <iframe src="/search"></iframe>
  </div>

  <div id="mylist" class="tabcontent">

    <iframe src="/list"></iframe>
  </div>

  <div id="addtrip" class="tabcontent">

    <iframe src="/bill"></iframe>
  </div>

  <div id="analyze" class="tabcontent">

    <iframe src="/analyze"></iframe>
  </div>
  <script>
  function openTab(evt, Name) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(Name).style.display = "block";
    evt.currentTarget.className += " active";
  }
  document.getElementById("defaultOpen").click();
  </script>

  </body>

</html>

{% endblock %}
